.SaveButton {
  float: right;
  top: 5px;
  margin-right: 10px !important;
}

/* .SaveAsModal {
  position: absolute;
  height: 350px;
  width: 350px;
  left: 50%;
  top: 50%;
} */

.SaveAsModal {
  /* width: 650px !important;
  height: 400px !important; */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
